<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/nav.css">
    <title>About</title>
</head>
<body>
    <nav>
        <a class="nav" href="../index.html">Home</a>
        <a class="nav" href="about.html">About</a>
    </nav>
    <h1>About GitHub</h1>
    <div class="article">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu luctus ipsum, rhoncus semper magna. Nulla nec magna sit amet sem interdum condimentum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu luctus ipsum, rhoncus semper magna. Nulla nec magna sit amet sem interdum condimentum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu luctus ipsum, rhoncus semper magna. Nulla nec magna sit amet sem interdum condimentum.</p>
    </div>
    
</body>
</html>